<!DOCTYPE HTML>
<html ng-app="project">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Bakery </title>
    <!--build:css public/css/main.min.css-->
    <link href="public/css/app.css" type="text/css" rel="stylesheet" />
    <!-- endbuild -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
</head>

<body>
    <nav class="navigation" ng-click="$event.preventDefault()" ng-controller="NavigationController as nav">
        <div class="new-container nav-wrapper">
            <div class="new-section navigation-links">
                <div class="min-6 small-6 med-2 large-2">
                    <img src="public/images/logo.png" alt="logo" class="logo" />
                </div>
                <div class="min-6 small-6 med-8 large-8">
                    <ul class="nav-page-links">
                        <li ng-class="{ 'active': nav.checkActive('home') }" ng-click="nav.setActive('home')"> <a href="#"> Welcome </a></li>
                        <li> ~ </li>
                        <li ng-class="{ 'active': nav.checkActive('menu') }" ng-click="nav.setActive('menu')"> <a href="#"> Menu </a </li>
                        <li> ~ </li>
                        <li ng-class="{ 'active': nav.checkActive('reservations') }" ng-click="nav.setActive('reservations')"> <a href="#"> Reservations </a></li>
                        <li> ~ </li>
                        <li ng-class="{'active': nav.checkActive('news')}" ng-click="nav.setActive('news')"> <a href="#"> News </a></li>
                        <li> ~ </li>
                        <li ng-class="{'active': nav.checkActive('contact')}" ng-click="nav.setActive('contact')"> <a href="#"> Contact </a></li>
                    </ul>
                </div>
                <div class="min-6 small-6 med-2 large-2">
                    <ul>
                        <li class="nav-social-icons"> <i class="fa fa-facebook-official" aria-hidden="true"></i> </li>
                        <li class="nav-social-icons"> <i class="fa fa-google-plus-official" aria-hidden="true"></i> </li>
                        <li class="nav-social-icons"> <i class="fa fa-snapchat-ghost" aria-hidden="true"></i> </li>
                        <li class="burger-icon">
                            <a href="javascript:void(0)" onclick="openNav()">
                                Menu
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <div id="burger-nav" class="nav-overlay">
        <a href="javascript:void(0)" class="nav-close-btn" onclick="closeNav()"> x </a>
        <div class="nav-overlay-content">
            <a href="#" class="home"> Home </a>
            <a href="#" class="menu"> Menu </a>
            <a href="#" class="reservations"> Reservations </a>
            <a href="#" class="news"> News </a>
            <a href="#" class="contact"> Contact </a>
        </div>
    </div>
    <header class="hero">
        <div class="new-container">
            <div class="new-section">
                <h4 class="hero-text"> Pastry with love </h4>
                <p class="hero-desc">
                    We're bringing you fresh ingredients every day in ways you can't resist.
                </p>
            </div>
        </div>
    </header>
    <div class="new-container" ng-controller="FamilyController as fc">
        <div class="new-section">
            <div class="min-12 small-12 med-6 large-6 large-offset-3">
                <input type="text" class="seacrh-input" ng-model="fc.searchString" placeholder="Enter a name..." />
            </div>
        </div>

        <div class="new-section text-center">
            <div ng-repeat="name in fc.names | orderBy:'firstName' | searchFor:fc.searchString | maxAge:'40' ">
                <div class="min-12 small-12 med-6 large-6 large-offset-3">
                    <div class="my-names">
                        <p> {{ name.firstName }} {{ name.lastName }}, {{ name.age }} </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="new-container" ng-controller="DataController as data">
        <div class="new-section">
            <div class="min-12 small-12 med-6 large-6 large-offset-3">
                <table class="data-table">
                    <tr>
                        <th> Title </th>
                        <th> Category </th>
                        <th> Synopsis </th>
                    </tr>
                    <tr ng-repeat="prog in data.progs">
                        <td> {{ prog.title | capitalize }} </td>
                        <td> {{ prog.categories[0] | capitalize }} </td>
                        <td> {{ prog.synopses.small }} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--build:js public/js/main.min.js-->
    <script src="public/js/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="public/js/app.js"></script>
    <!-- endbuild -->

</body>

</html>